/* header */
header {
    height: 100px;
    background-color: #2c3e50;
    color: white;
    display: flex;
    align-items: center;
}

nav {
    text-align: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.menu-list ul li {
    display: inline-block;
}

/* main */
.first-section {
    background-color: #1abc9c;
    color: white;
    text-align: center;
}

h1 {
    font-size: 35px;
}

h3 {
    padding-bottom: 40px;
}
